/* Nouvelle façon */
import personApiDriver from '../config/server/persons';
import omit from 'lodash/object/omit';

export default {
    loadPerson(id) {
        console.log(`[PERSON] call loadPerson(${id}) method`);
        return personApiDriver.load({id});
    },
    loadPersonMovies(id) {
        console.log(`[PERSON] call loadPersonMovies(${id}) method`);
        return personApiDriver.load({id}).then(({movieLinks}) => {
            return movieLinks;
        });
    },
    updatePersonBiography(data) {
        const personId = data.id;
        console.log(`[PERSON] call savePersonBiography method. data=${JSON.stringify(data)}`);
        omit(data, ['movieLinks']);
        return personApiDriver.update({id: personId}, data);
    },
    updatePersonIdentity(data) {
        const personId = data.id;
        console.log(`[PERSON] call savePersonIdentity method. data=${JSON.stringify(data)}`);
        omit(data, ['movieLinks']);
        return personApiDriver.update({id: personId}, data);
    }
}


/* Ancienne façon */
import fetch from 'focus-core/network/fetch';
import personUrl from '../config/server/persons';
import omit from 'lodash/object/omit';

export default {
    loadPerson(id) {
        console.log(`[PERSON] call loadPerson(${id}) method`);
        return fetch(personUrl.load({urlData: {id}}), {isCORS: true});
    },
    loadPersonMovies(id) {
        console.log(`[PERSON] call loadPersonMovies(${id}) method`);
        return fetch(personUrl.load({urlData: {id}}), {isCORS: true}).then(({movieLinks}) => {
            return movieLinks;
        });
    },
    updatePersonBiography(data) {
        const personId = data.id;
        console.log(`[PERSON] call savePersonBiography method. data=${JSON.stringify(data)}`);
        omit(data, ['movieLinks']);
        return fetch(personUrl.update({urlData: {id: personId}, data}), {isCORS: true});
    },
    updatePersonIdentity(data) {
        const personId = data.id;
        console.log(`[PERSON] call savePersonIdentity method. data=${JSON.stringify(data)}`);
        omit(data, ['movieLinks']);
        return fetch(personUrl.update({urlData: {id: personId}, data}), {isCORS: true});
    }
}
