///////////////////////////////////////////////////////////
/// variables
/// //////////////////////////////////////////////////////

// gris + rouge
$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
$vert-zera:#4a9433; //(74,148,51) 
$blue-prime:#2dbee8;
$twitch: #6441a4;
// rouge + light blue
// $primary-color-dark:   #D32F2F;
// $primary-color:        #F44336;
// $primary-color-light:  #FFCDD2;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #03A9F4;
// $primary-text-color:   #212121;
// $secondary-text-color: #727272;
// $divider-color:        #B6B6B6;


// Custom Theme
/*
grey 3F3F3F
red E46A6B
ligth grey 6E6E6E
white FFFFFF
black 040404
*/

$material-card-width: 200px;
$material-card-height: 300px;

$picture-large-width:210px;
$picture-small-width:300px;

$poster-ratio:0.752; //0.847602;
$poster-large-height:250px;
$poster-large-width:$poster-large-height * $poster-ratio;
$poster-small-height:30px;
$poster-small-width:$poster-small-height * $poster-ratio;
$poster-popin-img-height:80vh;
$poster-popin-margin-top:(100vh - $poster-popin-img-height) / 2;
$poster-popin-img-width:$poster-popin-img-height * $poster-ratio;

$concept-card-width:25px;
$concept-card-height:300px;
$concept-name-font-size:20px;
$concept-role-font-size:14px;

$custom-white:rgba(255,255,255, 0.87);
$dark-black: #040404;
$light-black: #111111;
$background-grey: #222222;
$red-dd: #e90007;
// Surcharge MDL Variables 
$color-primary: "40,210,68";
$image_path: '../../node_modules/material-design-lite/src/images';
$tab-text-color: $vert-zera;
$tab-active-text-color:rgb(40, 210, 68);
// $tab-border-color: $vert-zera;
// MDL icons font
$material-design-icons-font-path: '../../node_modules/material-design-icons-iconfont/dist/fonts/';
