[data-app='inscription-page']{

    .radio-container {
        display: flex;
        flex-wrap: wrap;

        .radio-elt {
            cursor: pointer;
            display: flex;
            align-items: center;
            border: 1px solid grey;
            border-radius: 5px;
            margin-right: 16px;
            margin-bottom: 16px;
            width: 30%;

            > label {
                margin: 0 20px !important;
                padding: 0;
                width: 24px;
                height: 32px;
                .mdl-radio__outer-circle {
                    border: 2px solid grey;
                    width: 24px;
                    height: 24px;    
                }
                .mdl-radio__inner-circle {
                    width: 16px;
                    height: 16px;    
                }
            }

            &.selected{
                border-color: $vert-zera;
                background-color: rgba(darken($vert-zera, 15%), 0.2);
                
                &:hover, &:hover .mdl-radio__outer-circle{
                    border-color: lighten($vert-zera, 10%) !important;
                }
                
                .mdl-radio__outer-circle{
                    border-color: $vert-zera;
                }
            }

            &:hover, &:hover .mdl-radio__outer-circle{
                border-color: lighten(grey, 20%) !important;
            }

            .event-info {
                display: flex;
                flex-direction: column;
                padding: 20px;
                padding-left: 0px;
                
                
                .event-name {
                    color: white;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 500;
                }

                .event-condition{
                    color: rgba(white, 0.7);
                    margin-top: 8px;
                }
            }
        }
    }

    .no-event-item{
        margin-bottom: 16px;
    }

    .recap {
        
        margin-bottom: 10px;
        
        button {
            background-color: rgb(74, 148, 51);
        }
        
        .recap-info {
            border: 1px solid grey;
            display: flex;
            align-items: center;
            border-radius: 5px;
            background-color: #2c342a;
            margin: 10px 0;
            // background: linear-gradient(to right,#2c342a, #454D43, #4e4c4c);            
        }

        $logo-size: 80px;

        .logo-login {
            height: $logo-size;
            width: $logo-size;
            border-radius: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 16px;
        }

        .info{
            & > div:first-child{
                font-size: 14pt;
            }
        }

        .recap {
            font-size: 20px;
            font-weight: 500;
        }
    }
}