// Setting dark background
[data-focus='layout'] {
    background-color: $background-grey;
    min-height: 100vh;
}

// Changing text color for list elt
.mdl-list__item {
    color:$custom-white;
}

// Changing background color of the left menu
[data-focus="menu-left"] {
    background-color: $light-black;
    [data-focus="menu-brand"] {
        background-color: $dark-black;
    }
}

// Changing background color of the header
[data-focus='header-scrolling'] [data-focus="header-top-row"] {
    background-color: $light-black;
}

// Changing color of the menu left icons
[data-focus="menu-left"] [data-focus="menu-items"]{
    list-style: none;
    li a {
    color :$custom-white !important; // Overriding style color:white
    }  
}

// Adaptating title 
.website-title {
    margin: 0;
    color: $vert-zera;//$red-dd;
    text-align: center;
}

// No margin bottom to header
[data-focus='header-scrolling'] {
    margin-bottom: 0;
}

// Flex
.flex {
    display: flex;
}

// Popin
[data-focus='popin'] > [data-focus='popin-overlay'] > [data-focus='popin-window']{
    background-color: $background-grey;
}

[data-focus='popin'][data-type='full'][data-size='small'] > div > [data-focus='popin-window'] {
    display: flex;
    width: 33.3333vw;

    > div {
        margin: auto;
        text-align: center;
    }
}

// Space Around
.space-around {
    justify-content: space-around;
}

[data-dd~='center'] {
    text-align: center;
}

.summary-elt {
    margin: auto;
    h5 {
        margin: 0;  
    }
}

.button-bar {
    padding: 5px 0;
    
    button {
        margin-right:5px;
    }
}

.login-container {
    display: flex;
    color:$custom-white;
    align-items: center;

    i, div {
        padding-right: 10px;        
    }
    i {
        cursor: pointer;
    }

    .login-button {
        background-image: url('https://camo.githubusercontent.com/e3dadf5d1f371961805e6843fc7d9d611a1d14b5/687474703a2f2f7474762d6170692e73332e616d617a6f6e6177732e636f6d2f6173736574732f636f6e6e6563745f6461726b2e706e67');
        background-size: contain;
        background-repeat: no-repeat;
        height: 32;
        width: 170px;
        cursor: pointer;        
    }

    .logo-login {
        height: 40px;
        width: 40px;    
        background-size: contain;
        background-repeat: no-repeat;
    }
}

[data-app="inscription-page"] {
    .logo-login {
        height: 300px;
        width: 300px;    
        background-size: contain;
        background-repeat: no-repeat;
    }

    .header {
        display: flex;
        align-items: center;

        .data {
            flex-grow: 1;
        }
    }
}
[data-app='events-page']{
    [data-focus="selection-list"][data-selection="false"] [data-focus="sl-line"] {
        padding:0;
    }
    [data-app='line-event']{
        display: flex;
        align-items: center;
        div {
            flex-grow: 1
        }
        padding:15px;
    }

}