* {
    box-sizing: border-box;
}

html, body{
    color: #cecece;
    background-color: $background-grey;
    font-family: 'Roboto', 'Arial', sans-serif;
}

button{
    background: transparent;
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.app-layout{
    display: flex;

    .app-content{
        flex: 1;

        &-content{
            padding: 32px;
        }

        &-header{
            height: 150px;
            background-image: url('assets/img/header_pubg2.png');
            background-position: center;
            background-size: cover;
        }
    }
}

@media only screen and (max-width: 480px){
    .app-layout{
        .app-content{
            &-content{
                padding: 0;
            }
        }
    }
}

.fa-ul {
    color: #000000;
}

[data-focus="selection-list"] [data-focus="sl-line"] {
	border-bottom: 1px solid #333333;
	&:first-child {
		border-top: 1px solid #333333;
	}
}

// Changing text color for list elt
.mdl-list__item {
    color:$custom-white;
}

[data-focus='header-top-row'] > div {
    display: none;
}

[data-focus='header-scrolling'][data-deployed="false"] [data-focus="header-top-row"] {
    @include box-shadow(none);
    position: relative;
}

[data-focus='header-scrolling'] [data-focus="header-top-row"] {
    background-color: transparent;
}

[data-focus='layout'][data-menu='left'] header, [data-focus='layout'][data-menu='left'] footer {
    margin-left: 250px;
    padding-left: 0px;
}

[data-focus='layout'][data-menu='left'] [data-focus='page-content'] {
    padding-left: 250px;
}

[data-focus='layout'] [data-focus='page-content'] {
    max-width: 1160px;
    margin: auto;
    padding: 0px;
}

// Setting dark background
[data-focus='layout'] {
    background-color: $background-grey;
    min-height: 100vh;
}

.live-line-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 16px;
}

[data-focus='page-content'] button {
    background-color: $vert-zera;
    border-bottom: 3px solid darken($vert-zera, 10%);
    @include transition(all 0.3s);
}

// Changing background color of the header
[data-focus='header-scrolling'] [data-focus="header-top-row"] {
    background-image: url(assets/img/header_pubg2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    height: 240px;
    position: relative !important;
}

// Adaptating title
.website-title {
    margin: 0;
    color: $vert-zera;//$red-dd;
    text-align: center;
}

// No margin bottom to header
[data-focus='header-scrolling'] {
    margin-bottom: 0;
}

// Flex
.flex {
    display: flex;
}

// Popin
[data-focus='popin'] > [data-focus='popin-overlay'] > [data-focus='popin-window']{
    background-color: $background-grey;
}

[data-focus='popin'][data-type='full'][data-size='small'] > div > [data-focus='popin-window'] {
    display: flex;
    width: 33.3333vw;

    > div {
        margin: auto;
        text-align: center;
    }
}

// Space Around
.space-around {
    justify-content: space-around;
}

[data-dd~='center'] {
    text-align: center;
}

.summary-elt {
    margin: auto;
    h5 {
        margin: 0;
    }
}

.button-bar {
    padding: 5px 0;

    button {
        margin-right:5px;
    }
}

[data-focus="selection-list"] [data-focus="sl-line"] {
	background-color: #212121;
}

[data-app='events-page'], [data-app='results-page']{
    [data-focus="selection-list"][data-selection="false"] [data-focus="sl-line"] {
        padding:0;
    }
    [data-app='line-event'], [data-app='line-results']{
        display: flex;
        align-items: center;
        div {
            flex-grow: 1;
            flex-basis: 20%;
        }
        i {
            flex: 0 0 40px;
        }
        padding:15px;
    }
    [data-selection="false"] [data-focus="sl-line"]:hover {
        background-color: #232323;
    }
}
[data-focus='page-content'] .mdl-button:hover {
    background-color: darken($vert-zera, 5%);
}
.mdl-button:hover {
    background-color: initial;
}
div[data-focus="field"][data-mode="edit"][data-domain="DO_DESCRIPTION"] [data-focus="field-value-container"] > div,
div[data-focus="field"][data-mode="consult"][data-domain="DO_DESCRIPTION"] [data-focus="field-value-container"] > div {
    width: 100%;
    .DraftEditor-root {
        font-family: 'Roboto', 'Arial', sans-serif;    
    }
}

div[data-focus="field"][data-domain="DO_DESCRIPTION"] [data-focus="field-value-container"] > div > div {
    background: none;
}

div[data-focus="field"][data-mode="consult"][data-domain="DO_DESCRIPTION"] [data-focus="field-value-container"] > div > div {
    border: none;
}


.detail-user-line-content {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

    a {
        text-decoration: none;
        i {
            // font-size: 25px;
            padding-right: 5px;
            color:#6441a4;
        }
        span {
            color: rgba(255, 255, 255, .87);
        }
    }
}

[data-focus="menu-left"] [data-focus="menu-items"] li span {
    top:0;
}

.pad-buttons > * {
    margin-right: 10px;
}

.pad-bottom > * {
    margin-bottom: 10px;
}


.display-1, .headline, .subheading{
    color: white;
}

.display-1{
    font-size: 36pt;
    text-transform: uppercase;
    color: white;
}

.headline{
    font-size: 28pt;
}

.subheading{
    font-size: 16pt;
}

.green{
    color: $vert-zera;
}

.title{
    &-blue, &-green{
        position: relative;
        padding-bottom: 8px;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100px;
        }
    }
    &-blue:before{
        background-color: $blue-prime;
    }

    &-green:before{
        background-color: $vert-zera;
    }
}

.mdl-list__item-primary-content {
    min-height: 40px;
}

.mdl-tabs.mdl-js-tabs {
    .mdl-tabs__tab {
        cursor: pointer;
    }
}

.mdl-list__item{
    padding: 0;
}

[data-focus="confirmation-popin"] [data-focus='popin'][data-type='full'] > [data-focus='popin-overlay'] > [data-focus='popin-window'] > div {
    min-height: 50vh;
    display: flex;
    align-items: center;
    span {
        flex-grow: 1;
        text-align: center;
    }
    [data-focus="button-stack"]{
        right: 0;
    }
}

// Results
[data-app='results-page'] ul{
    padding-top: 15px;
    [data-focus='sl-line']:first-child {
        text-transform: uppercase;
        font-weight: 500;
        color: #28d244;
        border-bottom-color:#28d244;
    }
}

// Live Popin
[data-focus='popin'].twitch-popin {

    .twitch-header i.material-icons{
        top:0;
        right:0;
        font-size: 30px;
        cursor: pointer;
        position: absolute; 
        &[data-focus="popin-window-chat"] {
            right:40px;
        }
    }

    > div[data-focus='popin-overlay'] {
        background-color: #191919;
    }

    .live-popin-container {
        display: flex;
        width: 100%;
        height: 100%;

        > div {
            flex-grow: 1;

            &:first-child {
                width:20%;
                overflow-y: auto;
            }

            &:last-child {
                width:80%;
            }
        }
    
        .twitch-live-container {
            width: 100%;
            height: 100%;
        }

        .live-iframe-container {
            display: flex;
            iframe {
                border:none;
            }
            .video {
                flex-grow: 1;
            }
            .chat {
                flex-basis: 340px;
            }
        }
    }
}

[data-focus="snackbar-message-center"][data-message-type="success"] {
    background-color: #4a9433;
}

.filter-container {
    display: flex;
    align-items: center;
}

.button-confirm-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.overflow-y-hidden {
    overflow-y: hidden;
}