@media only screen and (max-width: 720px){
    .app-layout{
        flex-direction: column;

        .app-side-menu{
            position: relative;
            width: 100%;
            height: auto;
        }

        .app-content{
            width: 100%;
        }
    }
}

@media only screen and (orientation:portrait) and (max-width: 720px){
    [data-focus='popin'].twitch-popin .live-popin-container {  
      height: 100vw;
      width: 100vh;
      transform: rotate(90deg) translateX(-100vw);
      transform-origin: left bottom;  
    }  
}
  