{
    "extends": "focus",
    "rules": {
        "valid-jsdoc": "off",
        "require-jsdoc": "off"
    },
    "settings": {
        "import/resolver": {
            "webpack": "webpack.config.js"
        }
    }
}