
@font-face {
    font-family: 'Wendy One';
    src: url('./assets/fonts/Wendy_One/WendyOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: 'Wendy One', sans-serif;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';//'Wendy One'
}

html, body, .mdl-list__item {
    font-family: 'Open Sans';
}

// .custom-font {
//     font-family: 'Wendy One', sans-serif;
// }